.container {
  width: 97vw;
  /* padding-left: 1vw; */
  /* overflow: hidden; */
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: none !important;
}

.buttonLeft,
.buttonRight {
  position: absolute;
  right: 20px;
  margin-top: 30px;
  opacity: 0.5;
}

.buttonLeft {
  right: 70px;
}

.buttonLeft:hover,
.buttonRight:hover {
  opacity: 1;
}

.type {
  color: #707070;
  font-weight: 500;
  font-size: 24px;
}

.title {
  color: #141414;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 20px;
}

.title span {
  color: #707070;
  font-weight: 500;
}

.links {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #326bb4;
}

.linkItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.linkItem img {
  margin-top: 2px;
}

.card {
  border: 1px solid #fff;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
}

.card img {
  width: 97%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .title {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: none;
  }
}
